
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

.banner {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    display: flex;
    height: 808px;
    width: 1600px;
}

.banner-content{
    display: block;
    max-width: 525px;
    margin: 216px 230px 364px 845px;
    text-align: right;
}

.banner-title{
    font-size: 65px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.banner-description{
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.btn-primary{
    width: 160px;
    height: 64px;
    background-color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
}

main {
    max-width: 1140px;
    margin: auto;
}

.failures{
    display: flex;
    margin-top: 130px;
    margin-bottom: 130px;
    align-items: center;
    gap: 90px;
}

.failure{
    text-align: left;
}

li {
    list-style: none;
}

.failures-title {
    max-width: 288px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}

.failures-description {
    max-width: 416px;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

.failures-list {
    max-width: 349px;
}

.failure-item {
    font-size: 16px;
    color: #444343;
    margin-bottom: 8px;
}

.fa-solid {
    margin-right: 10px;
}

.plans {
    display:block;
    text-align: center;
    margin-bottom: 130px;
}

.plans-title{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 50px;
}

.plan{
    display: flex;
    gap: 110px;
}

.plan-item{
    max-width: 214px;
}

.plan-title{
    font-size: 30px;
    font-weight: bold;
    color: #151414;
}

.contact-bg {
    background-image: url('/images/gradient1.png'), url('/images/watch.png');
    display: flex;
    background-repeat: no-repeat;
    height: 300px;
    width: 1140px;
    margin-bottom: 130px;
}

.contact-info{
    display: block;
    max-width: 459px;
    margin: 59px 161px 59px 64px;
}

.contact-info-title{
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.btn-secondary{
    width: 160px;
    height: 64px;
    background-color: #FFFFFF;
    color: #005FAC;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    border: 0px;
}